# Ignore Mac system files
.DS_store

# Ignore Java and Maven files 
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Ignore temporary files
.classpath
.project
.settings/
target/

# Ignore created data generator files
.code/data_generator/datasets/ 
